doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src='javascripts/jquery-ui.js'></script>
    script(src="/javascripts/nav-scroll.js")
    script(src="/assets/bootstrap/js/bootstrap.js")
  body
    block content